<section class="coe container-fluid section-{{ section.id }} bg-{{ section.settings.overlay }} text-{{ section.settings.text_color }} my-{{ section.settings.margin }} gx-0">
    <div class="row my-2">
      <div class="col-12 mb-3 mb-lg-5">
        <div class="container">
            <h2 class="text-center text-{{ section.settings.text_color }}">{{ section.settings.title }}</h2>
        </div>
      </div>
      <div class="col-12">
        <div class="container">
          <div class="coe__filters text-center text-md-left">
            <!-- Filters for medium devices and up -->
            <form id="calendarSearch" method="GET" class="form-filter d-none d-md-grid">
              <div class="text-start">
                <label for="coe__input-date" class="form-label text-{{ section.settings.text_color }}"
                  >Events by date</label
                >
                <select
                  id="calendarSelect"
                  class="form-select input-date form-control"
                  name="date"
                  aria-label="Choose Date"
                  placeholder="Choose Date"
                >
                  <option selected>Choose Date</option>
                  <!--Will be populated via JS using data from list-->
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="text-start">
                <label for="coe__input-keyword" class="form-label text-{{ section.settings.text_color }}"
                  >Search</label
                >
                <input
                  type="text"
                  name="keyword"
                  class="form-control"
                  aria-describedby="keyword"
                  placeholder="Name or Keyword"
                />
              </div>
              <div class="coe__submit text-end">
                <button class="btn btn-{{ section.settings.btn_color }}" id="buttonFilter">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    fill="currentColor"
                    class="bi bi-search mb-1"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                    />
                  </svg>
                  <span>Find Events </span>
                </button>
              </div>
            </form>
            <!-- filter for mobile devices -->
            <div class="mobile-filters d-md-none">
              <button
                class="btn btn-{{ section.settings.btn_color }}"
                id="buttonFilter"
                data-bs-toggle="modal"
                data-bs-target="#filterModal"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="12"
                  fill="currentColor"
                  class="bi bi-search mb-1"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                  />
                </svg>
                <span>Find Events </span>
              </button>
            </div>
            <!-- Modal for find events filter on mobile -->
            <div
              class="modal fade modal-filter"
              id="filterModal"
              tabindex="-1"
              aria-labelledby="filterModal"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-{{ section.settings.overlay }} text-{{ section.settings.text_color }}">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body bg-{{ section.settings.overlay }} text-{{ section.settings.text_color }}">
                    <form method="GET" class="form-filter">
                      <div class="text-start">
                        <label for="coe__input-date" class="form-label text-{{ section.settings.text_color }}"
                          >Events by date</label
                        >
                        <select
                          id="mobilecalendarSelect"
                          class="form-select input-date form-control"
                          aria-label="Default select example"
                          placeholder="Choose Date"
                          name="date"
                        >
                          <option selected>Choose Date</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="text-start mt-3">
                        <label for="coe__input-keyword" class="form-label text-{{ section.settings.text_color }}"
                          >Search</label
                        >
                        <input
                          type="text"
                          name="keyword"
                          class="form-control"
                          aria-describedby="keyword"
                          placeholder="Name or Keyword"
                        />
                      </div>
                      <div class="coe__submit mt-3">
                        <button class="btn btn-{{ section.settings.btn_color }}" id="buttonFilter">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="12"
                            height="12"
                            fill="currentColor"
                            class="bi bi-search mb-1"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                            />
                          </svg>
                          <span>Find Events </span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer text-center justify-content-center bg-{{ section.settings.overlay }} text-{{ section.settings.text_color }}">
                    <button
                      type="button"
                      class="btn btn-{{ section.settings.btn_color }}"
                      data-bs-dismiss="modal"
                    >
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      
      <div class="col-12">
        <div class="container">
          <div class="events-info">
          </div>
          {% paginate events by 100 start_at asc %}
            {% for event in events %}
                {% assign start_time = event.start_at | date: "%l:%M %p" %}
                {% assign end_time = event.end_at | date: "%l:%M %p" %}
                {% assign event_month = event.start_at | date: "%B" %}
                {% assign month_number = event.start_at | date: "%-m" %}
                {% assign event_day = event.start_at | date: "%d" %}
                {% assign event_weekday = event.start_at | date: "%a" %}
                {% assign event_year = event.start_at | date: "%Y" %}
                
                <!--Hidden data to be used on dynamic filter-->
                <p class="data-event-dates d-none" id="event-item-{{ forloop.index0 }}">{{event_month}} {{event_year}}</p>
                
                <div class="d-none bg-{{ section.settings.overlay }} card card-event event-item-{{ forloop.index0 }}" data-date="{{month_number}}-{{event_year}}" data-name="{{ event.name | downcase }}">
                    <div class="card-body">
                        <div class="line-desktop d-none d-md-block"></div>
                          <div class="card-date">
                            <small>{{ event_weekday }}</small>
                            <h4>{{ event_day }}</h4>
                          </div>
                        <div class="card-thumbnail">
                            {% if event.image_url != blank %}
                            <img
                              src="{{ event.image_url }}"
                              alt="{{ event.name }}"
                              alt="Card Thumbnail"
                              class="img-fluid event-img"
                            />
                            {% endif %}
                      </div>
                      <div class="card-description">
                        <h4 class="mt-3">{{ event.name}}</h4>
                        <h5>{{ event_month }} {{ event_day }} @ {{ start_time }} - {{ end_time }}</h5>
                        <p>
                          {{ event.description }}
                        </p>
                      </div>
                      <button
                        class="btn btn-{{ section.settings.btn_color }} event-action"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#event-{{ forloop.index0 }}"
                      >
                        View Event
                      </button>
                    </div>
                </div>
            <!-- Modal -->
            <div
              class="modal fade event-modal"
              id="event-{{ forloop.index0 }}"
              tabindex="-1"
              aria-labelledby="event-{{ forloop.index0 }}"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-thumbnail">
                     {% if event.image_url != blank %}
                      <img
                          src="{{ event.image_url }}"
                          alt="{{ event.name }}"
                          alt="Card Thumbnail"
                          class="img-fluid event-img"
                        />
                       {% endif %}
                    </div>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body bg-{{ section.settings.overlay }} text-{{ section.settings.text_color }}">
                    <div class="modal-description">
                      <h4 class="my-2">
                        {{ event.name }}
                      </h4>
                      <p class="my-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-cursor"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"
                          />
                        </svg>
                        <span> {{ event.address }} </span>
                      </p>
                      <p class="my-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-bookmark"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                          />
                        </svg>
                        <span> {{ event_month }} {{ event_day }} </span>
                      </p>
                      <p class="my-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-clock"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                          />
                          <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
                          />
                        </svg>
                        <span> {{ start_time }} - {{ end_time }} </span>
                      </p>
                      <p class="my-2">
                        {{ event.description }}
                      </p>
                    </div>
                  </div>
                  <div class="modal-footer text-center bg-{{ section.settings.overlay }} text-{{ section.settings.text_color }}">
                    <button
                      type="button"
                      class="btn btn-{{ section.settings.btn_color }}"
                      data-bs-dismiss="modal"
                    >
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
            
            {% endfor %}
          {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const params = new URLSearchParams(location.search);
        const events = document.querySelectorAll('.data-event-dates');
        const eventCards = document.querySelectorAll('.card-event');
        const eventDates = Array.from(events).map(data => data.innerText);
        const eventsInfo = document.querySelector('.events-info');
        const currentDate = new Date();
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        let filteredEvents = [];
        
        function setDateInfo(date, offset = false) {
            // Displays what date is selected
            let monthName;
            if (offset) {
                monthName = monthNames[date.getMonth() - 1]
            } else {
                monthName = monthNames[date.getMonth()]
            }
            eventsInfo.innerHTML = `<h5>${monthName} ${date.getFullYear()}</h5>`;
        }
        
        function setFilterDates() {
            const uniqueDates = [...new Set(eventDates)];
            const filterSelectInputs = document.querySelectorAll('.coe .input-date');
            let filterOptionsTemplate = `<option value="" selected>Choose a Date</option>`;
            const optionTemplate = (dateItem) => `<option value=${dateItem.split(' ').join('/')}>${dateItem}</option>`;
            // Propagate unique date month to filter select option
            if(uniqueDates.length < 1) {
                Array.from(filterSelectInputs).forEach(dateInput => dateInput.innerHTML = `<option selected>No existing events</option>`);
                // filterSelectInput.innerHTML = `<option selected>No existing events</option>`;
            } else {
                uniqueDates.forEach(data => filterOptionsTemplate += optionTemplate(data));
                Array.from(filterSelectInputs).forEach(dateInput => dateInput.innerHTML = filterOptionsTemplate);
            }
        }
        
        function getDateFormat(date) {
            return `${date.getMonth()}-${date.getFullYear()}`
        }
        
        function filterEvents() {
            // filter events via month and year
            Array.from(eventCards).forEach(eventItem => eventItem.classList.add('d-none'));
            let activeDate;
            if (!params.get('date')) {
                // Display events on current month and year
                setDateInfo(currentDate);
                currentDate.setMonth(currentDate.getMonth() + 1);
                activeDate = currentDate;
            } else {
                // Display events on date query
                const month = params.get('date').split('/')[0];
                const year = params.get('date').split('/')[1];
                activeDate = new Date(year, monthNames.indexOf(month) + 1);
                if (!month || !year) {
                    setDateInfo(currentDate);
                    currentDate.setMonth(currentDate.getMonth() + 1);
                    activeDate = currentDate;
                } else {
                    setDateInfo(activeDate, true);
                }
            }
            Array.from(eventCards).forEach(eventItem => {
                if(eventItem.dataset.date === getDateFormat(activeDate)) {
                    eventItem.classList.remove('d-none');
                    filteredEvents.push(eventItem)
                }
            });
            const keyword = params.get('keyword');
            if(!keyword){
                return
            } else if (keyword && params.get('date')) {
                Array.from(eventCards).forEach(eventItem => eventItem.classList.add('d-none'));
                filteredEvents.forEach(eventItem => {
                    if(eventItem.dataset.name.includes(keyword)) {
                        eventItem.classList.remove('d-none');
                    }
                });
            } else {
                Array.from(eventCards).forEach(eventItem => eventItem.classList.add('d-none'));
                Array.from(eventCards).forEach(eventItem => {
                    if(eventItem.dataset.name.includes(keyword)) {
                        eventItem.classList.remove('d-none');
                    }
                });
            }
        }
        
        // Display date options base on existing event date
        setFilterDates();
        // Use existing query parameter to filter events
        filterEvents();
    });
</script>
{% styles %}
  .coe .card-thumbnail {
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .coe .card-event {
    border: 0;
    border-radius: 0;
  }

  .coe .modal-filter .modal-body {
    height: 78vh;
  }

  .coe .card-event .card-body {
    display: grid;
  }
  .coe .event-action {
    justify-self: start;
  }
  .coe .event-modal .modal-header {
    padding: 0;
  }

  .coe .event-modal .modal-header .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .coe .event-modal .modal-footer {
    justify-content: center;
  }
  .coe .event-modal .modal-thumbnail {
    width: 100%;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .coe .event-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media only screen and (min-width: 768px) {
    .coe .form-filter {
      display: grid;
      grid-template-columns: 40% 40% 18%;
      gap: 10px;
    }
    .coe .coe__submit {
      align-self: center;
    }
  }

  @media only screen and (min-width: 1024px) {
    .coe .card-event .card-body {
      grid-template-columns: 5% 20% 55% 15%;
      gap: 2%;
    }
    .coe .event-action {
      align-self: start;
      justify-self: end;
    }
    .coe .card-event {
      padding-left: 10px;
      border-left: 1px solid rgba(0, 0, 0, 0.5);
    }
    .coe .card-event .line-desktop {
      height: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 91%;
    }
  }

.section-{{ section.id }}  {
    padding: {{ section.settings.padding }} 0;
}

@media screen and (max-width: 576px) {
    .section-{{ section.id }} {
        padding: 3rem 1.5rem;
    }
}

#calendarSelect.form-select, #mobilecalendarSelect.form-select.form-select {
    font-size: 0.9rem;
    font-weight: 700;
    color: gray;
    background-color: #FF008D08;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23808080' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

#calendarSelect option, #mobilecalendarSelect option {
    font-size: 0.9rem;
    color: gray;
    font-weight: 700;
}

#calendarSearch input::placeholder {
    font-weight: 700;
}

{% endstyles %}
{% schema %}
{
    "name": "Events Calendar",
    "description": "Displays events filtered per month.",
    "settings": [
        {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "0",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
                "label": "Large",
                "value": "5"
            }]
            },
            {
            "type": "select",
            "id": "padding",
            "label": "Section Padding",
            "default": "80px",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "40px"
            },
            {
                "label": "Medium",
                "value": "80px"
            },
            {
                "label": "Large",
                "value": "120px"
            }]
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Background Color",
            "default": "background2",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "default": "Events Calendar",
            "label": "Heading"
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
           "type": "select",
           "id": "btn_color",
           "default": "solid",
           "label": "Button Type",
           "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }]
       }
    ]
}
{% endschema %}